@model SII.Models.LocalPasswordModel
@{
    ViewBag.Title = "Administrar usuario";
}

<div class="row">
    <div class="small-8 small-offset-2 columns">
        @if (!String.IsNullOrEmpty(ViewBag.StatusMessage))
        {
            <div data-alert class="alert-box alert round">
                @ViewBag.StatusMessage
                <a href="#" class="close">&times;</a>
            </div>
        }
        @if (ViewBag.HasLocalPassword)
        {
            @Html.Partial("_ChangePasswordPartial")
        }
        else
        {
            @Html.Partial("_SetPasswordPartial")
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
