﻿<div class="row">
    <div class="medium-10 small-9 columns text-center">
        <h1>Sistema Integral de Ingresos (<acronym title="Sistema Integral de Ingresos">SII</acronym>)</h1>
        <h2>Universidad Tecnológica Centroamericana</h2>
    </div>
    <div class="medium-2 small-3 columns">
        <img src="@Url.Content("~/Images/unitec-logo.png")" alt="Unitec Logo" />
    </div>
</div>
<br />
<div class="row">
    <div class="text-center">
        <h3>@ViewBag.Title</h3>
    </div>
</div>