@model IEnumerable<SII.Models.Entrance>

@{
    ViewBag.Title = "Index";
}


<div class="row">
    <div class="large-12 columns" >
        <h2>Seleccione una barrera: </h2>
        <!--combobox here-->
    </div>
</div>
<div class="large-12 columns">

</div>
