@model IEnumerable<SII.Models.Entrance>

@Scripts.Render("~/Scripts/knockout-2.2.0.js")
@Scripts.Render("~/Scripts/jquery.hideseek.js")

@{
    ViewBag.Title = "Ingreso de visitas anunciadas";
}

<script>
    @*@{
        var jsonSerialiser = new System.Web.Script.Serialization.JavaScriptSerializer();
        var initialData = jsonSerialiser.Serialize(Model);
    }*@
    var data = [];
</script>


<div class="row">
    <div class="large-12 columns" >
        <input id="search" name="search" type="search" placeholder="Buscar..." data-list=".list">
    </div>
</div>


<div class="row">
    <div class="small-8 small-offset-2 columns">
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Tipo de entada</th>
                    <th>Estado</th>
                    <th>Observaciones</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="visitsTable" class="list">
                @foreach (var item in Model)
                {
                    <tr id="visit-@item.Id" >
                        @Html.Partial("_EntranceVisit", item)
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>
@Scripts.Render("~/Scripts/Entrance.js")
