
@{
    ViewBag.Title = "Ingreso de visitas anunciadas";
}

<div class="row">
    <div class="small-8 small-offset-2 columns" >
        @using (Html.BeginForm("Index","Entrance",FormMethod.Get))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            
            <fieldset>
                <legend>Seleccione una barrera:</legend>
                        
                <select name="barrera">
                    @foreach (var cmp in ViewBag.Barrier)
                    {
                        <option value="@cmp.Value">@cmp.Text</option>
                    }
                </select>
                <input type="submit" class="button" value="Ver visitas" />
            </fieldset>
        }
    </div>
</div>


