<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head profile="http://selenium-ide.openqa.org/profiles/test-case">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="selenium.base" href="http://localhost:32657/" />
<title>SeleniumIDE_Entrance_Visits_Validations</title>
</head>
<body>
<table cellpadding="1" cellspacing="1" border="1">
<thead>
<tr><td rowspan="1" colspan="3">SeleniumIDE_Entrance_Visits_Validations</td></tr>
</thead><tbody>
<tr>
	<td>open</td>
	<td>/Account/Login</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=UserName</td>
	<td>guardia</td>
</tr>
<tr>
	<td>type</td>
	<td>id=Password</td>
	<td>guardia123</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>css=input.button</td>
	<td></td>
</tr>
<tr>
	<td>open</td>
	<td>/Entrance</td>
	<td></td>
</tr>
<tr>
	<td>verifyText</td>
	<td>css=td</td>
	<td>Daniela</td>
</tr>
<tr>
	<td>verifyText</td>
	<td>xpath=(//tr[@id='visit-0']/td)[6]</td>
	<td>Gerardo</td>
</tr>
<tr>
	<td>verifyText</td>
	<td>xpath=(//tr[@id='visit-0']/td)[11]</td>
	<td>Lester</td>
</tr>
<tr>
	<td>verifyText</td>
	<td>xpath=(//tr[@id='visit-0']/td)[16]</td>
	<td>Mariela</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>//input[@value='Marcar']</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>xpath=(//input[@value='Marcar'])[3]</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>link=Cerrar Sesión</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=UserName</td>
	<td>guardia</td>
</tr>
<tr>
	<td>type</td>
	<td>id=Password</td>
	<td>guardia123</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>css=input.button</td>
	<td></td>
</tr>
<tr>
	<td>open</td>
	<td>/Entrance</td>
	<td></td>
</tr>
<tr>
	<td>verifyText</td>
	<td>//tr[@id='visit-0']/td[3]</td>
	<td>Dentro del campus</td>
</tr>
<tr>
	<td>verifyText</td>
	<td>xpath=(//tr[@id='visit-0']/td[3])[3]</td>
	<td>Dentro del campus</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>link=Cerrar Sesión</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=UserName</td>
	<td>guardia2</td>
</tr>
<tr>
	<td>type</td>
	<td>id=Password</td>
	<td>guardia2123</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>css=input.button</td>
	<td></td>
</tr>
<tr>
	<td>open</td>
	<td>/Entrance</td>
	<td></td>
</tr>
<tr>
	<td>verifyText</td>
	<td>css=td</td>
	<td>Pedro</td>
</tr>
<tr>
	<td>verifyText</td>
	<td>xpath=(//tr[@id='visit-0']/td)[6]</td>
	<td>Miguel</td>
</tr>
<tr>
	<td>verifyText</td>
	<td>xpath=(//tr[@id='visit-0']/td)[11]</td>
	<td>Alejandra</td>
</tr>
<tr>
	<td>verifyText</td>
	<td>xpath=(//tr[@id='visit-0']/td)[16]</td>
	<td>Fernando</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>link=Cerrar Sesión</td>
	<td></td>
</tr>
</tbody></table>
</body>
</html>
