<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head profile="http://selenium-ide.openqa.org/profiles/test-case">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="selenium.base" href="http://localhost:32657/Campus/Create" />
<title>SeleniumIDE_Campus_Create</title>
</head>
<body>
<table cellpadding="1" cellspacing="1" border="1">
<thead>
<tr><td rowspan="1" colspan="3">SeleniumIDE_Campus_Create</td></tr>
</thead><tbody>
<tr>
	<td>open</td>
	<td>/Campus/Create</td>
	<td></td>
</tr>
<tr>
	<td>verifyTitle</td>
	<td>Crear campus | SII</td>
	<td></td>
</tr>
<tr>
	<td>verifyText</td>
	<td>//section[@id='body']/header/div/div/h1</td>
	<td>Sistema Integral de Ingresos (SII)</td>
</tr>
<tr>
	<td>verifyText</td>
	<td>css=h2</td>
	<td>Universidad Tecnológica Centroamericana</td>
</tr>
<tr>
	<td>verifyElementPresent</td>
	<td>css=img[alt=&quot;Unitec Logo&quot;]</td>
	<td></td>
</tr>
<tr>
	<td>verifyText</td>
	<td>css=h3</td>
	<td>Crear campus</td>
</tr>
<tr>
	<td>verifyText</td>
	<td>css=legend</td>
	<td>Campus</td>
</tr>
<tr>
	<td>verifyText</td>
	<td>css=label.right.inline</td>
	<td>Código</td>
</tr>
<tr>
	<td>verifyElementPresent</td>
	<td>id=Code</td>
	<td></td>
</tr>
<tr>
	<td>verifyText</td>
	<td>//section[@id='body']/div/div/form/fieldset/div[2]/div/label</td>
	<td>Nombre</td>
</tr>
<tr>
	<td>verifyElementPresent</td>
	<td>id=Name</td>
	<td></td>
</tr>
<tr>
	<td>verifyText</td>
	<td>//section[@id='body']/div/div/form/fieldset/div[3]/div/label</td>
	<td>Detalles</td>
</tr>
<tr>
	<td>verifyElementPresent</td>
	<td>id=Details</td>
	<td></td>
</tr>
<tr>
	<td>verifyElementPresent</td>
	<td>css=input.small.button</td>
	<td></td>
</tr>
<tr>
	<td>verifyElementPresent</td>
	<td>link=Regresar a la Lista</td>
	<td></td>
</tr>

</tbody></table>
</body>
</html>
