<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head profile="http://selenium-ide.openqa.org/profiles/test-case">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="selenium.base" href="http://localhost:32657/Announcement/Create" />
<title>SeleniumIDE_Announcement_Create</title>
</head>
<body>
<table cellpadding="1" cellspacing="1" border="1">
<thead>
<tr><td rowspan="1" colspan="3">SeleniumIDE_Announcement_Create</td></tr>
</thead><tbody>
<tr>
	<td>open</td>
	<td>/Announcement/Create</td>
	<td></td>
</tr>
<tr>
	<td>verifyTitle</td>
	<td>Create | SII</td>
	<td></td>
</tr>
<tr>
	<td>verifyText</td>
	<td>css=h3</td>
	<td>Create</td>
</tr>
<tr>
	<td>verifyText</td>
	<td>css=div.row &gt; h2</td>
	<td>Create</td>
</tr>
<tr>
	<td>verifyText</td>
	<td>css=label</td>
	<td>Fecha de inicio</td>
</tr>
<tr>
	<td>verifyElementPresent</td>
	<td>id=InitialDate</td>
	<td></td>
</tr>
<tr>
	<td>verifyText</td>
	<td>//section[@id='body']/div/form/fieldset/div[3]/label</td>
	<td>Fecha final</td>
</tr>
<tr>
	<td>verifyElementPresent</td>
	<td>id=FinalDate</td>
	<td></td>
</tr>
<tr>
	<td>verifyText</td>
	<td>//section[@id='body']/div/form/fieldset/div[5]/label</td>
	<td>Observaciones</td>
</tr>
<tr>
	<td>verifyElementPresent</td>
	<td>id=Observations</td>
	<td></td>
</tr>
<tr>
	<td>verifyText</td>
	<td>//section[@id='body']/div/form/fieldset/div[7]/label</td>
	<td>SpecificDays</td>
</tr>
<tr>
	<td>verifyElementPresent</td>
	<td>id=SpecificDays</td>
	<td></td>
</tr>
<tr>
	<td>verifyText</td>
	<td>//section[@id='body']/div/form/fieldset/div[9]/label</td>
	<td>Creado por</td>
</tr>
<tr>
	<td>verifyElementPresent</td>
	<td>id=CreatedBy</td>
	<td></td>
</tr>
<tr>
	<td>verifyText</td>
	<td>//section[@id='body']/div/form/fieldset/div[11]/label</td>
	<td>Fecha de creación</td>
</tr>
<tr>
	<td>verifyElementPresent</td>
	<td>id=CreatedAt</td>
	<td></td>
</tr>
<tr>
	<td>verifyText</td>
	<td>//section[@id='body']/div/form/fieldset/div[13]/label</td>
	<td>Última actualización por</td>
</tr>
<tr>
	<td>verifyElementPresent</td>
	<td>id=UpdatedBy</td>
	<td></td>
</tr>
<tr>
	<td>verifyText</td>
	<td>//section[@id='body']/div/form/fieldset/div[15]/label</td>
	<td>Fecha de última actualización</td>
</tr>
<tr>
	<td>verifyElementPresent</td>
	<td>id=UpdatedAt</td>
	<td></td>
</tr>
<tr>
	<td>verifyText</td>
	<td>//section[@id='body']/div/form/fieldset/div[17]/label</td>
	<td>Dropped</td>
</tr>
<tr>
	<td>verifyElementPresent</td>
	<td>id=Dropped</td>
	<td></td>
</tr>
<tr>
	<td>verifyElementPresent</td>
	<td>css=input[type=&quot;submit&quot;]</td>
	<td></td>
</tr>
<tr>
	<td>verifyText</td>
	<td>link=Back to List</td>
	<td>Back to List</td>
</tr>
</tbody></table>
</body>
</html>
