<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head profile="http://selenium-ide.openqa.org/profiles/test-case">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="selenium.base" href="http://localhost:32657/Campus/Edit/5" />
<title>SeleniumIDE_Announcement_Register_Validations</title>
</head>
<body>
<table cellpadding="1" cellspacing="1" border="1">
<thead>
<tr><td rowspan="1" colspan="3">SeleniumIDE_Announcement_Register_Validations</td></tr>
</thead><tbody>
<tr>
	<td>open</td>
	<td>/Announcement/Register</td>
	<td></td>
</tr>
<tr>
	<td>select</td>
	<td>name=campus</td>
	<td>label=Unitec Tegucigalpa</td>
</tr>
<tr>
	<td>verifyAlert</td>
	<td>Ingrese una fecha para la visita</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>xpath=(//input[@name='tipo_fecha'])[2]</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>//table[@id='InitialDate_table']/tbody/tr[5]/td[2]/div</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>//table[@id='FinalDate_table']/tbody/tr[5]/td[6]/div</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>xpath=(//input[@name='dia'])[8]</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>name=tipo_fecha</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>//table[@id='InitialDate_table']/tbody/tr[5]/td[7]/div</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>link=Siguiente</td>
	<td></td>
</tr>

</tbody></table>
</body>
</html>
