<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head profile="http://selenium-ide.openqa.org/profiles/test-case">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="selenium.base" href="http://localhost:32657/Barrier/Create" />
<title>SeleniumIDE_Barrier_Create_Validations</title>
</head>
<body>
<table cellpadding="1" cellspacing="1" border="1">
<thead>
<tr><td rowspan="1" colspan="3">SeleniumIDE_Barrier_Create_Validations</td></tr>
</thead><tbody>
<tr>
	<td>open</td>
	<td>/Barrier/Create</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>css=input.small.button</td>
	<td></td>
</tr>
<tr>
	<td>verifyText</td>
	<td>css=span.field-validation-error &gt; span</td>
	<td>The Nombre field is required.</td>
</tr>
<tr>
	<td>verifyText</td>
	<td>//section[@id='body']/div/div/form/fieldset/div[2]/div[2]/span/span</td>
	<td>The Descripción field is required.</td>
</tr>
<tr>
	<td>verifyText</td>
	<td>//section[@id='body']/div/div/form/fieldset/div[3]/div[2]/span/span</td>
	<td>The Dirección IP field is required.</td>
</tr>
<tr>
	<td>verifyText</td>
	<td>//section[@id='body']/div/div/form/fieldset/div[6]/div[2]/span/span</td>
	<td>The CampusId field is required.</td>
</tr>
<tr>
	<td>type</td>
	<td>id=Name</td>
	<td>.%</td>
</tr>
<tr>
	<td>click</td>
	<td>css=input.small.button</td>
	<td></td>
</tr>
<tr>
	<td>verifyText</td>
	<td>css=span.field-validation-error &gt; span</td>
	<td>Ingrese un nombre que contenga de 3 a 16 caracteres letras o números.</td>
</tr>
<tr>
	<td>type</td>
	<td>id=Name</td>
	<td>Ba</td>
</tr>
<tr>
	<td>click</td>
	<td>css=input.small.button</td>
	<td></td>
</tr>
<tr>
	<td>verifyText</td>
	<td>css=span.field-validation-error &gt; span</td>
	<td>Ingrese un nombre que contenga de 3 a 16 caracteres letras o números.</td>
</tr>
<tr>
	<td>type</td>
	<td>id=Name</td>
	<td>Barrera de prueba</td>
</tr>
<tr>
	<td>click</td>
	<td>css=input.small.button</td>
	<td></td>
</tr>
<tr>
	<td>verifyText</td>
	<td>css=span.field-validation-error &gt; span</td>
	<td>Ingrese un nombre que contenga de 3 a 16 caracteres letras o números.</td>
</tr>
<tr>
	<td>type</td>
	<td>id=Name</td>
	<td>Barrera prueba</td>
</tr>
<tr>
	<td>type</td>
	<td>id=Description</td>
	<td>*d%</td>
</tr>
<tr>
	<td>click</td>
	<td>css=input.small.button</td>
	<td></td>
</tr>
<tr>
	<td>verifyText</td>
	<td>css=span.field-validation-error &gt; span</td>
	<td>Ingrese una descripción que contenga de 5 a 128 caracteres letras o números.</td>
</tr>
<tr>
	<td>type</td>
	<td>id=Description</td>
	<td>Desc</td>
</tr>
<tr>
	<td>click</td>
	<td>css=input.small.button</td>
	<td></td>
</tr>
<tr>
	<td>verifyText</td>
	<td>css=span.field-validation-error &gt; span</td>
	<td>Ingrese una descripción que contenga de 5 a 128 caracteres letras o números.</td>
</tr>
<tr>
	<td>type</td>
	<td>id=Description</td>
	<td>Descripcion de la barrera de prueba asdfghjklaasdfghjklaasdfghjklaasdfghjklaasdfghjklaasdfghjklaasdfghjklaasdfghjklaasdfghjklaasdfghjkla</td>
</tr>
<tr>
	<td>click</td>
	<td>css=input.small.button</td>
	<td></td>
</tr>
<tr>
	<td>verifyText</td>
	<td>css=span.field-validation-error &gt; span</td>
	<td>Ingrese una descripción que contenga de 5 a 128 caracteres letras o números.</td>
</tr>
<tr>
	<td>type</td>
	<td>id=Description</td>
	<td>Descripcion de la barrera de prueba</td>
</tr>
<tr>
	<td>type</td>
	<td>id=IpAddress</td>
	<td>&amp;.3@</td>
</tr>
<tr>
	<td>click</td>
	<td>css=input.small.button</td>
	<td></td>
</tr>
<tr>
	<td>verifyText</td>
	<td>css=span.field-validation-error &gt; span</td>
	<td>La dirección IP ingresada en inválida.</td>
</tr>
<tr>
	<td>type</td>
	<td>id=IpAddress</td>
	<td>0000</td>
</tr>
<tr>
	<td>click</td>
	<td>css=input.small.button</td>
	<td></td>
</tr>
<tr>
	<td>verifyText</td>
	<td>css=span.field-validation-error &gt; span</td>
	<td>La dirección IP ingresada en inválida.</td>
</tr>
<tr>
	<td>type</td>
	<td>id=IpAddress</td>
	<td>256.256.256.256</td>
</tr>
<tr>
	<td>click</td>
	<td>css=input.small.button</td>
	<td></td>
</tr>
<tr>
	<td>verifyText</td>
	<td>css=span.field-validation-error &gt; span</td>
	<td>La dirección IP ingresada en inválida.</td>
</tr>
<tr>
	<td>type</td>
	<td>id=IpAddress</td>
	<td>194.153.205.26</td>
</tr>
<tr>
	<td>click</td>
	<td>css=input.small.button</td>
	<td></td>
</tr>
<tr>
	<td>verifyText</td>
	<td>css=span.field-validation-error &gt; span</td>
	<td>The Puerto field is required.</td>
</tr>
<tr>
	<td>type</td>
	<td>id=Port</td>
	<td>0</td>
</tr>
<tr>
	<td>click</td>
	<td>css=input.small.button</td>
	<td></td>
</tr>
<tr>
	<td>verifyText</td>
	<td>css=span.field-validation-error &gt; span</td>
	<td>Ingrese un número entre 1 y 65535.</td>
</tr>
<tr>
	<td>type</td>
	<td>id=Port</td>
	<td>65536</td>
</tr>
<tr>
	<td>click</td>
	<td>css=input.small.button</td>
	<td></td>
</tr>
<tr>
	<td>verifyText</td>
	<td>css=span.field-validation-error &gt; span</td>
	<td>Ingrese un número entre 1 y 65535.</td>
</tr>
<tr>
	<td>type</td>
	<td>id=Port</td>
	<td>65535</td>
</tr>

</tbody></table>
</body>
</html>
