<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head profile="http://selenium-ide.openqa.org/profiles/test-case">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="selenium.base" href="http://localhost:32657/Account/RoleAddToUser" />
<title>SeleniumIDE_Account_Role_Validations</title>
</head>
<body>
<table cellpadding="1" cellspacing="1" border="1">
<thead>
<tr><td rowspan="1" colspan="3">SeleniumIDE_Account_Role_Validations</td></tr>
</thead><tbody>
<tr>
	<td>open</td>
	<td>/Account/Login</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=UserName</td>
	<td>admin</td>
</tr>
<tr>
	<td>type</td>
	<td>id=Password</td>
	<td>admin123</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>css=input.button</td>
	<td></td>
</tr>
<tr>
	<td>open</td>
	<td>/Account/RoleAddToUser</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>css=input.small.button</td>
	<td></td>
</tr>
<tr>
	<td>verifyText</td>
	<td>//section[@id='body']/div/div/div</td>
	<td>El campo nombre de usuario está en blanco. ×</td>
</tr>
<tr>
	<td>type</td>
	<td>id=UserName</td>
	<td>user1</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>css=input.small.button</td>
	<td></td>
</tr>
<tr>
	<td>verifyText</td>
	<td>//section[@id='body']/div/div/div</td>
	<td>El usuario no existe. ×</td>
</tr>
<tr>
	<td>type</td>
	<td>id=UserName</td>
	<td>fadministrativo</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>css=input.small.button</td>
	<td></td>
</tr>
<tr>
	<td>verifyText</td>
	<td>//section[@id='body']/div/div/div</td>
	<td>El usuario ya posee un rol. ×</td>
</tr>
<tr>
	<td>type</td>
	<td>id=UserName</td>
	<td>user</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>css=input.small.button</td>
	<td></td>
</tr>
<tr>
	<td>verifyText</td>
	<td>css=div.alert-box.round</td>
	<td>Se ha asignado el rol correctamente.</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>//input[@value='Obtener roles asignados']</td>
	<td></td>
</tr>
<tr>
	<td>verifyText</td>
	<td>css=ol &gt; li</td>
	<td>Administrador</td>
</tr>
<tr>
	<td>type</td>
	<td>id=UserName</td>
	<td>guardia</td>
</tr>
<tr>
	<td>select</td>
	<td>id=RoleName</td>
	<td>label=Guardia</td>
</tr>
<tr>
	<td>select</td>
	<td>id=Campus</td>
	<td>label=Unitec Tegucigalpa</td>
</tr>
<tr>
	<td>select</td>
	<td>id=TypeEntrance</td>
	<td>label=vehicular</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>css=input.small.button</td>
	<td></td>
</tr>
<tr>
	<td>verifyText</td>
	<td>css=div.alert-box.round</td>
	<td>Se ha asignado el rol correctamente.</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>//input[@value='Obtener roles asignados']</td>
	<td></td>
</tr>
<tr>
	<td>verifyText</td>
	<td>css=ol &gt; li</td>
	<td>Guardia</td>
</tr>
<tr>
	<td>type</td>
	<td>id=UserName</td>
	<td>guardia2</td>
</tr>
<tr>
	<td>select</td>
	<td>id=RoleName</td>
	<td>label=Guardia</td>
</tr>
<tr>
	<td>select</td>
	<td>id=Campus</td>
	<td>label=Unitec Tegucigalpa</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>css=input.small.button</td>
	<td></td>
</tr>
<tr>
	<td>verifyText</td>
	<td>css=div.alert-box.round</td>
	<td>Se ha asignado el rol correctamente.</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>//input[@value='Obtener roles asignados']</td>
	<td></td>
</tr>
<tr>
	<td>verifyText</td>
	<td>css=ol &gt; li</td>
	<td>Guardia</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>link=Cerrar Sesión</td>
	<td></td>
</tr>
</tbody></table>
</body>
</html>
