<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head profile="http://selenium-ide.openqa.org/profiles/test-case">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="selenium.base" href="http://localhost:32657/Campus/Edit/5" />
<title>SeleniumIDE_Announcement_Register_Validations</title>
</head>
<body>
<table cellpadding="1" cellspacing="1" border="1">
<thead>
<tr><td rowspan="1" colspan="3">SeleniumIDE_Announcement_Register_Validations</td></tr>
</thead><tbody>
<tr>
	<td>open</td>
	<td>/Announcement/Register</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>link=Siguiente</td>
	<td></td>
</tr>
<tr>
	<td>verifyText</td>
	<td>//form[@id='register-form']/div/div[4]/div</td>
	<td>La fecha es requerida.</td>
</tr>
<tr>
	<td>click</td>
	<td>css=div.picker__nav--next</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>//table[@id='InitialDate_table']/tbody/tr[3]/td[6]/div</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>link=Siguiente</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>link=Atrás</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>xpath=(//input[@name='tipo_fecha'])[2]</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>link=Siguiente</td>
	<td></td>
</tr>
<tr>
	<td>verifyText</td>
	<td>//form[@id='register-form']/div/div[4]/div</td>
	<td>El rango de fechas es un campo requerido.</td>
</tr>
<tr>
	<td>click</td>
	<td>//table[@id='InitialDate_table']/tbody/tr[3]/td[6]/div</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>css=#FinalDate_root &gt; div.picker__holder &gt; div.picker__frame &gt; div.picker__wrap &gt; div.picker__box &gt; div.picker__header &gt; div.picker__nav--next</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>//table[@id='FinalDate_table']/tbody/tr[3]/td[3]/div</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>link=Siguiente</td>
	<td></td>
</tr>
<tr>
	<td>verifyText</td>
	<td>//form[@id='register-form']/div/div[4]/div</td>
	<td>Revise que la fecha inicial sea menor que la fecha final. Rango de fechas inválido.</td>
</tr>
<tr>
	<td>click</td>
	<td>css=#FinalDate_root &gt; div.picker__holder &gt; div.picker__frame &gt; div.picker__wrap &gt; div.picker__box &gt; div.picker__header &gt; div.picker__nav--next</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>id=FinalDate</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>css=#FinalDate_root &gt; div.picker__holder &gt; div.picker__frame &gt; div.picker__wrap &gt; div.picker__box &gt; div.picker__header &gt; div.picker__nav--prev</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>//table[@id='FinalDate_table']/tbody/tr[4]/td[2]/div</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>xpath=(//input[@name='dia'])[2]</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>xpath=(//input[@name='dia'])[3]</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>xpath=(//input[@name='dia'])[4]</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>xpath=(//input[@name='dia'])[5]</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>xpath=(//input[@name='dia'])[7]</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>xpath=(//input[@name='dia'])[8]</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>link=Siguiente</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>css=a.button.guardar</td>
	<td></td>
</tr>
<tr>
	<td>verifyText</td>
	<td>//form[@id='register-form']/div[2]/div/div/fieldset/div/div[2]/div</td>
	<td>Ingrese al menos un nombre.</td>
</tr>
<tr>
	<td>type</td>
	<td>name=nombre[0]</td>
	<td>Ju</td>
</tr>
<tr>
	<td>click</td>
	<td>link=Agregar</td>
	<td></td>
</tr>
<tr>
	<td>verifyText</td>
	<td>css=small.error</td>
	<td>El nombre solo debe contener hasta 100 letras.</td>
</tr>
<tr>
	<td>type</td>
	<td>name=nombre[0]</td>
	<td>123@</td>
</tr>
<tr>
	<td>click</td>
	<td>link=Agregar</td>
	<td></td>
</tr>
<tr>
	<td>verifyText</td>
	<td>css=small.error</td>
	<td>El nombre solo debe contener hasta 100 letras.</td>
</tr>
<tr>
	<td>type</td>
	<td>name=nombre[0]</td>
	<td>Miguel</td>
</tr>
<tr>
	<td>click</td>
	<td>link=Agregar</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>name=nombre[0]</td>
	<td>Daniela</td>
</tr>
<tr>
	<td>click</td>
	<td>xpath=(//input[@name='tipo_entrada[0]'])[2]</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>link=Agregar</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>name=nombre[0]</td>
	<td>Pedro</td>
</tr>
<tr>
	<td>click</td>
	<td>link=Agregar</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>name=nombre[0]</td>
	<td>Tatiana</td>
</tr>
<tr>
	<td>click</td>
	<td>xpath=(//input[@name='tipo_entrada[0]'])[2]</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>link=Agregar</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>name=nombre[0]</td>
	<td>Gerardo</td>
</tr>
<tr>
	<td>click</td>
	<td>xpath=(//input[@name='tipo_entrada[0]'])[2]</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>link=Agregar</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>name=nombre[0]</td>
	<td>Marta</td>
</tr>
<tr>
	<td>click</td>
	<td>xpath=(//input[@name='tipo_entrada[0]'])[2]</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>link=Agregar</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>//form[@id='register-form']/div[2]/div/div/fieldset/div[2]/div/div[3]/a</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>//form[@id='register-form']/div[2]/div/div/fieldset/div[6]/div/div[3]/a/i</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>//form[@id='register-form']/div[2]/div/div/fieldset/div[4]/div/div[3]/a/i</td>
	<td></td>
</tr>
<tr>
	<td>verifyValue</td>
	<td>xpath=(//input[@name='tipo_entrada[3]'])[2]</td>
	<td>on</td>
</tr>
<tr>
	<td>verifyValue</td>
	<td>name=tipo_entrada[2]</td>
	<td>on</td>
</tr>
<tr>
	<td>verifyValue</td>
	<td>xpath=(//input[@name='tipo_entrada[1]'])[2]</td>
	<td>on</td>
</tr>
<tr>
	<td>type</td>
	<td>id=Observations</td>
	<td>Esta es una observacion</td>
</tr>
<tr>
	<td>click</td>
	<td>css=a.button.guardar</td>
	<td></td>
</tr>
<tr>
	<td>verifyText</td>
	<td>css=label.campus</td>
	<td>Unitec Tegucigalpa</td>
</tr>
<tr>
	<td>verifyText</td>
	<td>css=label.initial_date</td>
	<td>19 December, 2014</td>
</tr>
<tr>
	<td>verifyText</td>
	<td>css=label.final_date</td>
	<td>22 December, 2014</td>
</tr>
<tr>
	<td>verifyText</td>
	<td>css=label.dias</td>
	<td>Viernes, SábadoDomingo,</td>
</tr>
<tr>
	<td>verifyText</td>
	<td>css=tbody.listado &gt; tr &gt; td</td>
	<td>Daniela</td>
</tr>
<tr>
	<td>verifyText</td>
	<td>//form[@id='register-form']/div[3]/div/div/table/tbody/tr/td[2]</td>
	<td>vehicular</td>
</tr>
<tr>
	<td>verifyText</td>
	<td>//form[@id='register-form']/div[3]/div/div/table/tbody/tr[2]/td</td>
	<td>Pedro</td>
</tr>
<tr>
	<td>verifyText</td>
	<td>//form[@id='register-form']/div[3]/div/div/table/tbody/tr[2]/td[2]</td>
	<td>peatonal</td>
</tr>
<tr>
	<td>verifyText</td>
	<td>//form[@id='register-form']/div[3]/div/div/table/tbody/tr[3]/td</td>
	<td>Gerardo</td>
</tr>
<tr>
	<td>verifyText</td>
	<td>//form[@id='register-form']/div[3]/div/div/table/tbody/tr[3]/td[2]</td>
	<td>vehicular</td>
</tr>
<tr>
	<td>verifyText</td>
	<td>css=label.observaciones</td>
	<td>Esta es una observacion</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>link=Autorizar</td>
	<td></td>
</tr>
<tr>
	<td>verifyText</td>
	<td>css=div.large-12.columns &gt; h2</td>
	<td>Se han registrado las visitas exitosamente</td>
</tr>
</tbody></table>
</body>
</html>
