<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head profile="http://selenium-ide.openqa.org/profiles/test-case">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="selenium.base" href="http://localhost:32657/Account/Register" />
<title>SeleniumIDE_Account_Register</title>
</head>
<body>
<table cellpadding="1" cellspacing="1" border="1">
<thead>
<tr><td rowspan="1" colspan="3">SeleniumIDE_Account_Register</td></tr>
</thead><tbody>
<tr>
	<td>open</td>
	<td>/Account/Register</td>
	<td></td>
</tr>
<tr>
	<td>verifyTitle</td>
	<td>Usuarios | SII</td>
	<td></td>
</tr>
<tr>
	<td>verifyText</td>
	<td>css=h3</td>
	<td>Usuarios</td>
</tr>
<tr>
	<td>verifyText</td>
	<td>css=label</td>
	<td>Usuario</td>
</tr>
<tr>
	<td>verifyElementPresent</td>
	<td>id=UserName</td>
	<td></td>
</tr>
<tr>
	<td>verifyText</td>
	<td>//section[@id='body']/div/section/div/div/form/fieldset/div[2]/div/label</td>
	<td>Contraseña</td>
</tr>
<tr>
	<td>verifyElementPresent</td>
	<td>id=Password</td>
	<td></td>
</tr>
<tr>
	<td>verifyText</td>
	<td>//section[@id='body']/div/section/div/div/form/fieldset/div[3]/div/label</td>
	<td>Confirmar contraseña</td>
</tr>
<tr>
	<td>verifyElementPresent</td>
	<td>id=ConfirmPassword</td>
	<td></td>
</tr>
<tr>
	<td>verifyElementPresent</td>
	<td>css=input.button</td>
	<td></td>
</tr>
</tbody></table>
</body>
</html>
