<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head profile="http://selenium-ide.openqa.org/profiles/test-case">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="selenium.base" href="http://localhost:32657/Announcement/Register" />
<title>SeleniumIDE_Announcement_Register</title>
</head>
<body>
<table cellpadding="1" cellspacing="1" border="1">
<thead>
<tr><td rowspan="1" colspan="3">SeleniumIDE_Announcement_Register</td></tr>
</thead><tbody>
<tr>
	<td>open</td>
	<td>/Announcement/Register</td>
	<td></td>
</tr>
<tr>
	<td>verifyTitle</td>
	<td>Registro de Visitas | SII</td>
	<td></td>
</tr>
<tr>
	<td>verifyText</td>
	<td>//section[@id='body']/header/div/div/h1</td>
	<td>Sistema Integral de Ingresos (SII)</td>
</tr>
<tr>
	<td>verifyText</td>
	<td>css=h2</td>
	<td>Universidad Tecnológica Centroamericana</td>
</tr>
<tr>
	<td>verifyElementPresent</td>
	<td>css=img[alt=&quot;Unitec Logo&quot;]</td>
	<td></td>
</tr>
<tr>
	<td>verifyText</td>
	<td>css=h3</td>
	<td>Registro de Visitas</td>
</tr>
<tr>
	<td>verifyText</td>
	<td>css=legend</td>
	<td>Seleccione un campus:</td>
</tr>
<tr>
	<td>verifyElementPresent</td>
	<td>name=campus</td>
	<td></td>
</tr>
<tr>
	<td>verifyText</td>
	<td>//section[@id='body']/form/div/div[2]/div/fieldset/legend</td>
	<td>Tipo de Fechas:</td>
</tr>
<tr>
	<td>verifyElementPresent</td>
	<td>css=label</td>
	<td></td>
</tr>
<tr>
	<td>verifyElementPresent</td>
	<td>//section[@id='body']/form/div/div[2]/div/fieldset/label[2]</td>
	<td></td>
</tr>
<tr>
	<td>verifyText</td>
	<td>css=div.large-6.columns &gt; fieldset &gt; legend</td>
	<td>Desde</td>
</tr>
<tr>
	<td>verifyElementPresent</td>
	<td>id=InitialDate</td>
	<td></td>
</tr>
<tr>
	<td>verifyText</td>
	<td>//section[@id='body']/form/div/div[3]/div[2]/fieldset/legend</td>
	<td>Hasta</td>
</tr>
<tr>
	<td>verifyElementPresent</td>
	<td>//section[@id='body']/form/div/div[3]/div[2]/fieldset/legend</td>
	<td></td>
</tr>
<tr>
	<td>verifyText</td>
	<td>css=fieldset.dias_semana &gt; legend</td>
	<td>Días</td>
</tr>
<tr>
	<td>verifyElementPresent</td>
	<td>name=dia</td>
	<td></td>
</tr>
<tr>
	<td>verifyText</td>
	<td>css=fieldset.dias_semana &gt; label</td>
	<td>Todos los días</td>
</tr>
<tr>
	<td>verifyElementPresent</td>
	<td>xpath=(//input[@name='dia'])[2]</td>
	<td></td>
</tr>
<tr>
	<td>verifyText</td>
	<td>//section[@id='body']/form/div/div[4]/div/fieldset/label[2]</td>
	<td>Lunes</td>
</tr>
<tr>
	<td>verifyElementPresent</td>
	<td>xpath=(//input[@name='dia'])[3]</td>
	<td></td>
</tr>
<tr>
	<td>verifyText</td>
	<td>//section[@id='body']/form/div/div[4]/div/fieldset/label[3]</td>
	<td>Martes</td>
</tr>
<tr>
	<td>verifyElementPresent</td>
	<td>xpath=(//input[@name='dia'])[4]</td>
	<td></td>
</tr>
<tr>
	<td>verifyText</td>
	<td>//section[@id='body']/form/div/div[4]/div/fieldset/label[4]</td>
	<td>Miércoles</td>
</tr>
<tr>
	<td>verifyElementPresent</td>
	<td>xpath=(//input[@name='dia'])[5]</td>
	<td></td>
</tr>
<tr>
	<td>verifyText</td>
	<td>//section[@id='body']/form/div/div[4]/div/fieldset/label[5]</td>
	<td>Jueves</td>
</tr>
<tr>
	<td>verifyElementPresent</td>
	<td>xpath=(//input[@name='dia'])[6]</td>
	<td></td>
</tr>
<tr>
	<td>verifyText</td>
	<td>//section[@id='body']/form/div/div[4]/div/fieldset/label[6]</td>
	<td>Viernes</td>
</tr>
<tr>
	<td>verifyElementPresent</td>
	<td>xpath=(//input[@name='dia'])[7]</td>
	<td></td>
</tr>
<tr>
	<td>verifyText</td>
	<td>//section[@id='body']/form/div/div[4]/div/fieldset/label[7]</td>
	<td>Sábado</td>
</tr>
<tr>
	<td>verifyElementPresent</td>
	<td>xpath=(//input[@name='dia'])[8]</td>
	<td></td>
</tr>
<tr>
	<td>verifyText</td>
	<td>//section[@id='body']/form/div/div[4]/div/fieldset/label[8]</td>
	<td>Domingo</td>
</tr>
<tr>
	<td>verifyText</td>
	<td>link=Siguiente</td>
	<td>Siguiente</td>
</tr>

</tbody></table>
</body>
</html>
